.inputSide > div{
    display: flex;
    flex-direction: column;
}
body{
    background-color: teal;
}
h1{
    align-self: center;
    justify-content: center;
    margin: auto;
}
.tipSelect{
    flex-wrap: wrap;
}
.splitForm{
    text-align: right;
}